{% extends "myPersonal/header.html" %}
{% block content %}
    <h1>Create a Poll</h1>
    <form action="/create_poll" method="post">
        {% csrf_token %}
        <input type="text" name="question" placeholder="Enter your question"><br>
        <input type="text" name="choice1" placeholder="Enter choice here"><br>
        <input type="text" name="choice2" placeholder="Enter choice here"><br>
        <input type="text" name="choice3" placeholder="Enter choice here"><br>
        <input type="submit">
        <input type="reset">
    </form>
{% endblock %}